<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="urlKill" value="http://localhost/testAD/testPatchKill.aspx" />
    <add key="urlKillAck" value="http://localhost/testAD/testAck.aspx" />
    <add key="urlDownload" value="http://localhost/testAD/testAck.aspx" />
    <add key="urlDownloadAck" value="http://localhost/testAD/testPatchDownload.aspx" />
    <add key="urlExecute" value="http://localhost/testAD/testPatchExec.aspx" />
    <add key="urlExecuteAck" value="http://localhost/testAD/testAck.aspx" />
    <!-- This should be the location of AdClient.exe -->
    <add key="downloadPath" value="C:\\Users\\pc006\\Documents\\Visual Studio 2012\\Projects\\AdClient\\AdClient\\bin\\Debug\\" />
    <add key="logPath" value="D:\\" />
    <add key="clientID" value="patcher1" />
  </appSettings>
</configuration>